<h2><%= authorObj.name %></h2>
<a href="/authors/<%= authorObj.id %>/edit">Edit</a>
<%- include('../partials/deleteForm', { url: `/authors/${authorObj.id}` }) %>
<a href="/authors">&laquo; Back</a>
<% if(booksByAuthor.length > 0){ %>
    <h2>Books By Author</h2>
    <% booksByAuthor.forEach(book => { %>
        <a href="/books/<%= book.id %>">
            <img width="150" height="100" src="<%= book.coverImagePath %>" />
        </a>
    <% }) %>
<% } %>